{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "airbnb-base"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "semi": [2, "never"],
    "import/no-unresolved": 0,
    "no-console": 0,
    "import/prefer-default-export": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "chrome": true
  }
}
